.accordion-container {
  width: 350px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: #938e8e;
  font-family: Arial, sans-serif;
}

.accordion-item {
  padding: 10px 0;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
}

.accordion-content {
  margin-top: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
}

.divider {
  height: 1px;
  background: #ddd;
  margin-top: 15px;
}

.arrow {
  font-size: 18px;
}
